---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cloudflared
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    controllers:
      cloudflared:
        replicas: 2
        strategy: RollingUpdate
        annotations:
          reloader.stakater.com/auto: "true"
        serviceAccount:
          name: cloudflared
        initContainers:
          generate-config:
            image:
              repository: docker.io/bitnami/kubectl
              tag: 1.33.4
            command:
              - /scripts/generate-config.sh
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
        containers:
          app:
            image:
              repository: docker.io/cloudflare/cloudflared
              tag: 2025.11.1@sha256:89ee50efb1e9cb2ae30281a8a404fed95eb8f02f0a972617526f8c5b417acae2 # trunk-ignore(checkov/CKV_SECRET_6): legitimate container image SHA
            args:
              - tunnel
              - run
            env:
              NO_AUTOUPDATE: true
              TUNNEL_METRICS: 0.0.0.0:2000
              TUNNEL_ORIGIN_ENABLE_HTTP2: true
              TUNNEL_POST_QUANTUM: true
              TUNNEL_TRANSPORT_PROTOCOL: quic
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ready
                    port: &port 2000
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
    defaultPodOptions:
      hostUsers: false
      securityContext:
        runAsNonRoot: true
        runAsUser: 1701
        runAsGroup: 1702
    persistence:
      config:
        type: emptyDir
        advancedMounts:
          cloudflared:
            generate-config:
              - path: /etc/cloudflared
            app:
              - path: /etc/cloudflared
      scripts:
        type: configMap
        name: "{{ .Release.Name }}-scripts"
        defaultMode: 0755
        advancedMounts:
          cloudflared:
            generate-config:
              - path: /scripts/generate-config.sh
                subPath: generate-config.sh
                readOnly: true
    service:
      app:
        ports:
          http:
            port: *port
    serviceMonitor:
      app:
        endpoints:
          - port: http
