# trunk-ignore(checkov/CKV2_GHA_1): GitHub Actions workflow requires write permissions for automation
name: Infisical secrets check

on:
  workflow_dispatch:
  pull_request:

jobs:
  secrets-check:
    runs-on: ubuntu-24.04
    permissions: # trunk-ignore(checkov/CKV2_GHA_1): workflow requires write permissions
      contents: read
      pull-requests: write
    steps:
      - name: Infisical Secrets Check
        id: secrets-scan
        uses: guibranco/github-infisical-secrets-check-action@f8f71ec267a3ed85a6fb4f83a6c7ced8acc199cc # v4.1.31

      - name: Handle secrets found
        if: steps.secrets-scan.outputs.secrets-leaked > 0
        run: |
          echo "Found ${{ steps.secrets-scan.outputs.secrets-leaked }} leaked secrets!"
